body{
   font-family: 'Roboto'; 
   margin:0;
   background-color: black;
   overflow: hidden;
}
.active, .dots:hover {
    background-color: #ffffff !important;
    box-shadow: 0px 0px 8px 0 rgba(255, 255, 255, 0.5) !important;
  }
button:hover{
    background-color: #ffffff62!important;
    color: rgb(0, 0, 0) !important;
  }
@media screen and (max-width: 768px) {
    h1{
        font-size: 20px;
        margin:0 !important;
    }
    .likeDiv{
        width:95% !important;
    }
    .txtDiv{
        font-size: 10px;
    }
}
 