body{
   font-family: 'Roboto'; 
}
.buttonL, .buttonR{
    position:absolute;
    top: 50%;
    
}
.dots{
    display: inline-block !important;
    background-color: rgb(148, 148, 148);
    border-radius: 50%;
    margin: 10px;
}
.active, .dots:hover {
    background-color: #0a0a0a;
  }
button:hover{
    background-color: #0a0a0a94!important;
    color: aliceblue !important;
  }
#imgs{
    width:100% !important;
    height: 400px;
    object-fit: cover;
    display: block !important;
}
.imgCar{
    display:none;
    
}
 